# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# macOS & Linux junk
.DS_Store
Thumbs.db

# Editor & IDE files
.vscode/
.idea/

# Debian build artifacts
*.build
*.changes
*.deb
*.dsc
*.tar.gz
*.upload
wtfport-*/

# GitHub artifacts
*.zip
env/
