Source: wtfport
Section: utils
Priority: optional
Maintainer: Anil Raj Rimal <anilrajrimal@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               man-db,
               python3-setuptools,
               pybuild-plugin-pyproject
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: wtfport
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-psutil, python3
Description: Check what process is using a TCP/UDP port
 A simple command-line tool to see what process (PID, name, uptime)
 is listening on a given port — or if the port is free.
